.content {
    display: flex;
    flex-wrap: wrap;

    background-color: aqua;
    outline: 5px solid blue;
    height: 640px;
    width: 640px;
}

.grid {
    background-color: gold;
    outline: 5px solid goldenrod;
}

button {
    background-color: blue;
    color: white;
    outline: 5px solid blue;
    border-radius: 5px;
    height: 30px;
    width: 90px;
}